.center{
    text-align: center;
}

div{
    border: 1px solid blue;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.active{
    color:orangered
}

.error{
    font-size: 20px
}

.back-ground{
    background-color: aqua
}

.one{
    font-size: 30px;
    color: green
}

.classCom{
    color: blueviolet
}

.btn{
    color: orangered
}

.btn-large{
    font-size: 30px
}

.btn-disabled{
    opacity: 0.5;
    cursor: not-allowed;
}